/mod/*
!/mod/modulsmink
!/mod/bmain
/mod/bmain/node_modules
/mod/bmain/HwsVue/.git
/config.php
/.htaccess
/lib/*
!/lib/alap.class.php
!/lib/config.class.php
!/lib/class.phpmailer.php
!/lib/createtables.php
!/lib/belepve.php
!/lib/menu.php
!/lib/sql_backup.php
!/lib/sh.css
!/lib/jquery-1.12.4.min.js
!/lib/bmain/
/lib/bmain/vendor
/lib/bmain/mod/*
!/lib/bmain/mod/admin
!/lib/bmain/mod/naplo
!/lib/bmain/mod/elknaplo
/lib/bmain/HwsLaravel/.git
/lib/bmain/mod/naplo/.git
