/*!************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./HwsVue/mainStyle.css ***!
  \************************************************************************************************/
:root {
    --title-background-color: #1e5999;
    --title-color: #fff;
    --higlight-text-color: #1e5999;
    --button-higlight-color: #ff8200;
    --main-size: 3px;
    --button-size: 3px;
    --main-family: Helvetica, Arial, sans-serif;
}

body,
#app {
    font-family: var(--main-family);
    background-color: #f1f1f1;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: calc(12px + var(--main-size));
}

.DarkMode {
    filter: invert(95%);
}

.DarkMode .noDarkMode,
.DarkMode img {
    filter: invert(100%);
}

h1,
h2,
h3,
h4 {
    color: var(--higlight-text-color);
}


.disable {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    word-wrap: break-word;
    width: fit-content;
}

.vflex,
.hflex,
.cflex {
    display: flex;
}

.hflex {
    flex-direction: column;
}

.vflex {
    flex-direction: row;
}

.cflex {
    justify-content: center;
    align-items: center;
}

.vflex>*,
.hflex>*,
.cflex>* {
    flex-grow: 0;
    flex-shrink: 0;
}

.cflex>* {
    /* legördülőlőkhöz böngésző  hiba javítás */
    margin: auto;
}

.fit {
    flex: 1 1 auto;
    min-height: 1px;
    min-width: 1px;
}

.padding {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.float_left {
    float: left;
}

.float_right {
    float: left;
}

.pointer {
    cursor: pointer;
}

.border {
    min-height: 50px;
    min-width: 50px;
}

.Body {
    overflow: auto;
    min-height: 10px;
    min-width: 10px;
}

#app>.loadmask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}

.toolbar .Field {
    flex-direction: row;
    display: flex;
}

.toolbar .Button.pictoBtn,
.toolbar .fieldLabel {
    justify-content: center;
    align-items: center;
}

.InnerErrScreen {
    font-size: 30px;
}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
}

.gap {
    gap: 10px;
}

a:visited,
a {
    color: var(--higlight-text-color);
}

.scroll {
    min-width: 10px;
    min-height: 10px;
    overflow: auto;
}

.frame {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Panel.vue?vue&type=style&index=0&id=7cf9773a&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/

.Panel.PanelBorder > .titleBorder,
.Panel.collapsible > .titleBorder {
  font-weight: bold;
  background-color: var(--title-background-color);
  color: var(--title-color);
  height: 50px;
  padding: 0 10px;
}
.Panel.notCollapsible.notPanelBorder > .titleBorder {
  padding: 10px;
  font-weight: bold;
}
.Panel.collapsed {
  flex: 0 0 51px !important;
}
.Panel.collapsible.collapsed > .Title {
  border: none;
}
.Panel > .titleBorder {
  white-space: nowrap;
  text-align: left;
  position: relative;
}
.vPanel.collapsible.collapsed > .titleBorder {
  flex: 1 1 auto;
  padding: 0;
}
.Panel.collapsible.collapsed .left,
.Panel.collapsible.collapsed .right {
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
.vPanel.collapsed > .Body {
  display: none;
}
.hPanel.collapsed > .Body {
  display: none;
}
.hflex .Panel.collapsed {
  min-height: 0px;
}
.vflex .Panel.collapsed {
  min-width: 0px;
}
.hPanel.notCollapsed {
  transition: flex-basis 0.5s ease;
}
.vPanel {
  transition: flex-basis 0.2s ease;
}
.windowPanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  z-index: 20;
}
.hPanel .paneltitlebuttons,
.vPanel.notCollapsed .paneltitlebuttons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  padding: 0 10px;
  width: max-content;
}
.vPanel.collapsed .paneltitlebuttons {
  position: absolute;
  transform: translate(-50%, 100%);
  padding: 10px 0;
  height: max-content;
  bottom: 0;
  left: 50%;
}
.PanelBody.frame {
  border-radius: 0;
  background-color: unset;
}

/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Form.vue?vue&type=style&index=0&id=6f935604&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************/

.Form {
  position: relative;
}
.formBody {
  position: relative;
  min-height: 30px;
  min-width: 100px;
}

/* .formBody.fixWidth .bottomtoolbar, */
/* .formBody.fixWidth .intervalFieldCt, */
.formBody.fixWidth .fieldbody {
  width: 400px;
}
.formBody .intervalFieldCt .fieldbody {
  width: initial;
  margin: 0;
}
.formBody.formcols > .Field {
  float: left;
  margin-right: 4px;
}
.Form > .Body {
  padding: 10px;
}
.Form > .toolbar {
  padding: 10px 10px 0 10px;
}
.formBody > .toolbar:first-child {
  padding-bottom: 10px;
}
.formBody > .toolbar:last-child {
  padding-bottom: 10px;
}
.bottomtoolbar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}
.bottomtoolbar > .toolbar {
  position: absolute;
  right: 0;
  padding: 4px;
  /* bottom: 0; */
}
.formBody.labelLeft .PanelBody,
.formBody.labelLeft {
  display: table;
}
.formBody.noFixWidth .PanelBody,
.formBody.noFixWidth {
  width: 100%;
}
.formBody.labelLeft .bottomtoolbar,
.formBody.labelLeft .Field {
  display: table-row;
}
.formBody.labelLeft .intervalFieldCt .Field {
  display: initial;
}
.formBody.labelLeft .Field > .fieldLabel {
  padding-right: 10px;
}
.formBody.labelLeft .Field > .fieldLabel,
.formBody.labelLeft .Field > .FieldInner {
  display: table-cell;
  min-width: 100px;
}
.formBody.labelLeft .intervalFieldCt .Field > .fieldLabel,
.formBody.labelLeft .intervalFieldCt .Field > .FieldInner {
  display: initial;
  min-width: initial;
}
.formBody.labelLeft .Field > .fieldLabel {
  vertical-align: top;
  padding-top: 6px;
  padding-bottom: 6px;
}
.FormSpinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 1;
}
.FormSpinner .icon {
  font-size: 70px;
  color: var(--higlight-text-color);
}

/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Tab.vue?vue&type=style&index=0&id=3d868bcb&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************/

.Tab > .Tabmenu > .tabbtn {
  display: inline-block;
}
.Tabmenu {
  margin-bottom: 5px;
}
.Tabmenu > .tabbtn {
  padding: 13px;
  font-weight: bold;
}
.Tabmenu > .tabinline.tabbtn {
  padding: 0;
  font-weight: initial;
  margin-left: 10px;
}
.Tabmenu > .tabbtn {
  border-bottom: 4px solid transparent;
}
.Tabmenu .tabbtn.active {
  border-bottom: 4px solid var(--higlight-text-color);
  color: var(--higlight-text-color);
}

/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Icon.vue?vue&type=style&index=0&id=7ffea233&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************/

.icon {
  display: inline-block;
}
.icon {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
}
.regular.icon {
  font-weight: 400;
}
.icon.close:before {
  content: "\f00d";
}
.icon.not:before {
  content: "\f05e";
}
.icon.delete:before {
  content: "\f1f8";
}
.icon.save:before {
  content: "\f0c7";
}
.icon.edit:before {
  content: "\f303";
}
.icon.add:before {
  content: "\f055";
}
.icon.search:before {
  content: "\f002";
}
.icon.clear:before {
  content: "\f12d";
}
.icon.view:before {
  content: "\f06e";
}
.icon.details:before {
  content: "\f06E";
}
.icon.publish:before {
  content: "\f0a1";
}
.icon.export:before {
  content: "\f1c3";
}
.icon.import:before {
  content: "\f093";
}
.icon.karbantart:before {
  content: "\f0ad";
}
.icon.print:before {
  content: "\f02f";
}
.icon.archive:before {
  content: "\f187";
}
.icon.pageLeftBig:before {
  content: "\f100";
}
.icon.pageLeft:before {
  content: "\f104";
}
.icon.pageRight:before {
  content: "\f105";
}
.icon.pageRightBig:before {
  content: "\f101";
}
.icon.pageRefresh:before {
  content: "\f0E2";
}
.icon.sort.asc::after {
  content: "\f30c";
}
.icon.sort.desc::after {
  content: "\f309";
}
.icon.datepickicon:before {
  content: "\f073";
}
.icon.intervalOn:before {
  content: "\f204";
}
.icon.intervalOff:before {
  content: "\f205";
  color: var(--higlight-text-color);
}
.icon.sDetailDown:before {
  content: "\f078";
}
.icon.sDetailRight:before {
  content: "\f054";
}
.icon.comboBox:before {
  content: "\f107";
}
.icon.upload:before {
  content: "\f093";
}
.icon.download:before {
  content: "\f019";
}
.icon.process:before {
  content: "\f013";
}
.icon.numberfieldAdd:before {
  content: "\f067";
}
.icon.numberfieldSub:before {
  content: "\f068";
}
.icon.checked:before {
  content: "\f00c";
  color: var(--higlight-text-color);
}
.left .collapsedIcon:before,
.collapsed .right .collapsedIcon:before {
  content: "\f137";
}
.right .collapsedIcon:before,
.collapsed .left .collapsedIcon:before {
  content: "\f138";
}
.up .collapsedIcon:before,
.collapsed .down .collapsedIcon:before {
  content: "\f139";
}
.down .collapsedIcon:before,
.collapsed .up .collapsedIcon:before {
  content: "\f13a";
}

/* MEnü ikon */
.Menu .left .collapsedIcon:before {
  content: "\f03b";
}
.Menu.collapsed .left .collapsedIcon:before {
  content: "\f03c";
}

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Button.vue?vue&type=style&index=0&id=265bb028&lang=css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/

.Button {
  outline: none;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: stretch;
  min-width: 28px;
}
.Button.pictoBtn {
  justify-content: center;
}
.Button>.icon {
  font-size: calc(15px + var(--button-size));
}
.Button {
  font-size: calc(12px + var(--button-size));
  /* font-weight: bold; */
  color: var(--higlight-text-color);
  padding: 3px;
  border: 1px solid #d5d7db;
  background-color: #f9f9fc;
  border-radius: 4px;
}
.Button.highlight {
  background-color: var(--button-higlight-color);
  color: #fff;
  border-color: transparent;
}
.Button:active {
  color: #fff;
  background-color: #515e6f;
  border-color: transparent;
}

/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Pager.vue?vue&type=style&index=0&id=0b026579&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/

.Pager {
  font-weight: bold;
  padding: 0 4px;
  position: relative;
}
.Pager > .pagingBody > .Button {
  min-width: 20px;
}
.Button.pbtn {
  background-color: transparent;
  font-size: 16px;
  border-color: transparent;
  /* color: initial; */
  padding: 0;
}
.perPageCombo .fieldbody {
  width: 72px !important;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/grid/Detail.vue?vue&type=style&index=0&id=a9c229a0&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

/* .Grid .Detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
} */

/* Details form */
.DetailForm .formBody .fieldBorder,
.DetailForm .formBody .fieldbody {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.DetailForm .formBody .fieldLabel,
.DetailForm .formBody .FieldInner {
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #333;
}
.DetailForm .formBody .FieldInner {
  font-weight: bold;
}
.DetailPanel {
  margin-right: 15px;
}
.DetailPanel > .Body {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Queque.vue?vue&type=style&index=0&id=dc0c93cc&lang=css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/

.stopExportBtn {
    background-color: #ff7979;
    color: #000;
    border-color: #ff7979;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/grid/Grid.vue?vue&type=style&index=0&id=35e73d36&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/

.GridSearchPanel.notCollapsed>.Body {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.GridBody>table {
  min-width: 100%;
}
.GridRow.inactive>td {
  color: #ccc;
}
.GridRow>td {
  padding: 0;
}
.GridRow>td:last-child,
.headerRow>tr>th:last-child {
  width: 100%;
}
.gridCheckbox {
  padding: 0;
  margin: 0;
}
.GridCelContent {
  vertical-align: middle;
  display: inline-block;
}
.maxCellWidth.GridCelContent {
  max-width: 300px;
}
.GridCelContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.GridRow>td:last-child .GridCelContent,
.headerRow>tr>th:last-child .GridCelContent {
  max-width: initial;
}
.GridHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.GridTools.toolbar {
  flex-wrap: nowrap;
}
.GridBodyParent {
  border: 1px solid #ddd;
  border-top: none;
  /* padding-top: 10px; */
}
.gridBodySpacer {
  height: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.GridBodyPanel {
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  /* box-shadow: 0px 0px 4px 2px #ddd; */
}
.GridMask {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.GridBody {
  padding: 0 10px;
}
.GridBody>table {
  border-collapse: separate;
  border-spacing: 0;
}
.fastFilter {
  padding: 10px 10px 0 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.GridBody>table>thead th {
  font-weight: initial;
  background-color: #515e6f;
  color: #fff;
  padding: 12px 12px 8px 12px;
}
.GridBody>table>thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.GridHeader {
  font-weight: bold;
}
th.sorted>.GridHeader {
  color: #ff8200;
}
.headerRow>tr>th {
  border-bottom: 4px solid #515e6f;
}
.headerRow>tr>th.sorted {
  border-bottom: 4px solid #ff8200;
}
.GridSmallDetail>td,
.GridRow>td {
  border-bottom: 1px solid #ddd;
}
tr.GridRow:last-child td {
  border-bottom: none;
}
.GridCelContent {
  padding: 8px;
}
.Grid .GridBody tr.GridRow:hover td,
.Grid .GridBody tr td.selected {
  background-color: #eee;
}
.GridTools .DetaileDownButton {
  background-color: transparent;
  color: var(--higlight-text-color);
  border: none;
}
.GridTools.toolbar {
  padding: 0 5px;
}
.GridTools.toolbar .icon {
  font-size: 15px;
}
.GridTools.toolbar .Button {
  min-width: 25px;
}
.GridBodyPanel>.Pager .pbtn>.icon {
  color: var(--title-color);
}
.GridBodyPanel>.Pager {
  background-color: var(--title-background-color);
  color: var(--title-color);
  height: 50px;
  padding: 0 10px;
}
.GridBodyPanel>.Pager>.pagingBody>.Button {
  color: #fff;
}
.Detail {
  background-color: #f1f1f1;
}

/*előre definiált sor színezések*/
.RED td {
  background-color: #ff797924;
}
.Grid .GridBody tr.GridRow.RED:hover td {
  background-color: #ff797973;
}
.GREEN td {
  background-color: #97e79724;
}
.Grid .GridBody tr.GridRow.GREEN:hover td {
  background-color: #97e79769;
}
.YELLOW td {
  background-color: #ffffbf;
}
.Grid .GridBody tr.GridRow.YELLOW:hover td {
  background-color: #f5f582;
}
.INACTIVE td {
  color: #999;
}

/* kisrészletek  */
.SmallDetailForm .formBody .fieldLabel,
.SmallDetailForm .formBody .FieldInner {
  /* border-bottom: 1px solid #ddd; */
  padding-top: 8px;
  padding-bottom: 8px;
  color: #333;
  display: inline-block;
}
.SmallDetailForm .formBody .fieldLabel {
  width: 160px;
}
.SmallDetailForm .formBody .FieldInner {
  width: 250px;
}
.SmallDetailForm .formBody .FieldInner {
  font-weight: bold;
}
.LockButton .icon {
  color: #cccc00;
}
.GridSpinner .icon {
  font-size: 70px;
  color: var(--higlight-text-color);
}
.gridHeadContextMenu {
  z-index: 999;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
}

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Dropdown.vue?vue&type=style&index=0&id=75567ccb&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************************/

.dropdown {
  white-space: nowrap;
  position: fixed;
  min-height: 20px;
  white-space: initial;
  z-index: 100;
  min-width: 100px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Datepicker.vue?vue&type=style&index=0&id=0bfe01d0&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.datepicker {
  padding: 5px;
}
.datepicker .pbtn {
  width: 32px;
  height: 22px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
.datepicker td {
  text-align: center;
}
.datepicker .daybutton.today {
  font-weight: bold;
  text-decoration: underline;
}
.datepicker .daybutton.inactive {
  opacity: 0.5;
}
.datepicker div.pbtn.selected {
  border-width: 2px;
  border-style: solid;
  width: 30px;
  height: 20px;
  opacity: 1;
}
.datepicker {
  font-size: 14px;
  background-color: white;
}
.datepicker .pbtn {
  border-color: #aaa;
}
.datepicker .daybutton {
  background-color: #f9f9fc;
}
.datepicker .daybutton.inactive {
  background-color: #fff;
}
.datepickericontext {
  margin-right: 4px;
}
.datepicker .daybutton.wrongDate {
  border-color: red;
  color: red;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Checkbox.vue?vue&type=style&index=0&id=1e33229f&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

.chbox {
  position: relative;
  padding: 0 !important;
  height: 18px;
  width: 18px;
  line-height: initial;
  flex: 0 0 auto;
}
.chboxtext {
  margin-left: 5px;
}
.blankch {
  width: 0px;
}
.chbox .icon{
  color: var(--higlight-text-color);
}
.notdefaultcheckedIcon{
  font-size: 15px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/File.vue?vue&type=style&index=0&id=d4300c50&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

.hiddenfileimput {
  opacity: 0;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.nopointerevent {
  pointer-events: none;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Searchdate.vue?vue&type=style&index=0&id=613ee5b2&scoped=true&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/

.itervalIcon[data-v-613ee5b2] {
  padding: 4px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Radiogroup.vue?vue&type=style&index=0&id=14c414c0&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.rhbox {
  position: relative;
  padding: 0 !important;
  height: 18px;
  width: 18px;
  border-radius: 100px !important;
  line-height: initial;
}
.radiotext {
  margin-left: 5px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Combo.vue?vue&type=style&index=0&id=0ccbf5e2&lang=css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/

.comboDropdown .mselected {
  text-decoration: line-through;
}
.comboDropdown {
  padding: 0 !important;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.comboDropdown .ComboOption {
  font-size: 14px;
  padding: 4px;
  min-height: 18px;
}
.comboDropdown .ComboOption:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.comboDropdown .ComboOption:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comboDropdown .Pager {
  border-top: 1px solid #d5d7db;
  color: #444;
}
.comboDropdown .Pager .Button {
  color: #444;
}
.ComboOption:nth-child(even) {
  background: #eee;
}
.comboDropdown:focus .comboDropdownBody .focus,
.comboDropdown .ComboOption:hover {
  background-color: #c6d9fb;
}
.multicomboselectedrow > .Button {
  width: 25px;
  height: 25px;
  flex: 0 0 25px;
  font-size: 14px;
  padding: 0;
  margin: 2px;
}
.combomaskInside {
  min-height: 100px;
  min-width: 100px;
}
.combomaskInside .icon {
  font-size: 40px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Display.vue?vue&type=style&index=0&id=75c837d4&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/

.displayBody {
  overflow: auto;

  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.displayBody .fieldBorder {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Searchnumber.vue?vue&type=style&index=0&id=14faa0cd&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/

.itervalIcon[data-v-14faa0cd] {
  padding: 4px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Dateinterval.vue?vue&type=style&index=0&id=6001f34f&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/

.itervalIcon[data-v-6001f34f] {
  padding: 2px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Numberinterval.vue?vue&type=style&index=0&id=bde7252c&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

.itervalIcon[data-v-bde7252c] {
  padding: 2px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Color.vue?vue&type=style&index=0&id=2381fd92&lang=css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/

/* .ColorField > .fieldBorder { */
/* padding: 0; */
/* } */
.colorPicker {
  outline: none;
  padding: 0;
  opacity: 0;
  position: absolute !important;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/ColorBox.vue?vue&type=style&index=0&id=0c0c23c4&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

.colorTableCell div {
  border: 1px solid #d6d6d6;
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
}
.colorTableCell div:hover {
  border: 1px solid #aaa;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Html.vue?vue&type=style&index=0&id=a4b346f2&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

.HtmlToolbar {
  margin-bottom: 4px;
  flex-wrap: wrap;
}
.HtmlToolbar .heading {
  color: #000;
  font-size: 14px;
}
.FontSizeField .heading {
  color: #000;
  text-align: right;
  font-size: 14px;
}
.FontField,
.FontSizeField {
  color: #777;
  font-size: 11px;
}
.htmltoolbarSeparator {
  color: #bbb;
}
.Htmleditor {
  min-height: 500px !important;
  min-width: 1100px !important;
}
.HtmlToolbar {
  min-width: 1100px !important;
}
.htmleditorColorPicker .colorTable {
  position: absolute;
  top: 25px;
  z-index: 100;
  display: none;
}
.htmleditorColorPickerText {
  padding: 0;
}
.htmleditorColorPickerbg {
  background-color: #1d428aaa;
  border-color: transparent;
  padding: 0;
  color: #fff;
}
.htmleditorColorPicker:hover .colorTable {
  display: initial;
}
div.Htmleditor {
  overflow: auto;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/inputs/Iconpicker.vue?vue&type=style&index=0&id=55ee0a23&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.iconpicker_window_ct {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  align-content: baseline;
  overflow: auto;
}
.iconpicker_window_ct > div {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Field.vue?vue&type=style&index=0&id=20bfa330&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/

textarea:focus,
input:focus {
  outline: none;
}
.Field .fieldbody {
  position: relative;
}
.WarningButton {
  color: #cc3300;
}
.InfoButton {
  color: #18cc00;
}
.floatErr {
  position: absolute !important;
  background-color: white !important;
}
.fieldBorder,
.dropdown,
.fieldButtonFront,
.fieldButton {
  border: 1px solid #d5d7db;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  outline: none;
}
.fieldbody {
  font-size: 15px;
  color: #333;
  margin: 2px;
}
.fieldButtonFront,
.fieldButton {
  position: relative;
  color: #646874;
  font-size: 14px;
  padding: 0;
  width: 35px;
}
.fieldButton {
  border-radius: 0;
  border-left: none;
}
.fieldButton:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fieldButtonFront {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.MultiFileBody .fieldBorder,
.multicomboselectedrow .fieldBorder,
.Datefield .fieldBorder,
.Searchnumber .fieldBorder,
.FileField .fieldBorder,
.Numberfield .fieldBorder,
.Combobox .fieldBorder {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Searchnumber .fieldBorder,
.Searchdate .fieldBorder {
  border-radius: 0;
}
.datepickericontext {
  width: 22px;
  text-align: center;
}
.fieldLabel span {
  margin: 2px;
  font-size: 13px;
}
textarea {
  resize: none;
  overflow: auto;
  height: 60px;
}
.DarkMode .fieldBorder.required {
  filter: invert(100%);
}
.fieldBorder.required {
  background-color: #ffffbf;
}
.entityCombo * {
  font-weight: bold;
  color: var(--higlight-text-color);
  font-size: 15px;
}
.checkboxgroup .chboxtext {
  overflow: auto;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Error */
.hasError .fieldBorder,
.hasError .fieldButtonFront,
.hasError .fieldButton {
  border-color: #ff7979;
}
.FieldInner > .Err,
.InnerErrScreen,
.hasError .fieldButton,
.hasError .fieldButtonFront {
  color: #ff7979;
}
.FieldInner > .Err {
  font-weight: bold;
  border-radius: 4px;
  background-color: #ff797924;
}
.FieldInner > .Err > ul {
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 4px;
  margin-inline-end: 4px;
  padding-inline-start: 20px;
}
.FieldInner > .Err > ul > li {
  padding: 4px 0;
}
.Field .FieldList{
  display: list-item;
  margin-left: 40px;
}
.dropdown:focus,
.fieldBorder:focus,
.fieldButton:focus,
.dummyFocus,
.datepicker div.pbtn.selected,
.fieldButtonFront:focus {
  border: 1px solid var(--higlight-text-color);
}
.dummyFocus {
  border-radius: 4px;
}
.disabled {
  opacity: 0.4;
}
.disabled * {
  /*csak a legfelső elem legyen halvány és ne recurzivan*/
  opacity: 1;
}
.disabled * {
  cursor: not-allowed !important;
}

/* placeholder */
input:placeholder-shown {
  user-select: none;
}
.dropdown:focus,
.fieldBorder:focus {
  transition: border 0.5s ease;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Login.vue?vue&type=style&index=0&id=6edc221f&scoped=true&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.loginPage[data-v-6edc221f] {
  background: radial-gradient(circle at center, #f1f1f1 40%, #aaa);
}
.DarkMode .loginPage[data-v-6edc221f] {
  background: none;
}
.startPagePanel[data-v-6edc221f] {
  width: 360px;
  background-color: white;
  box-shadow: 0px 0px 50px 12px #ddd;
}
.loginInformBox[data-v-6edc221f] {
  width: 340px;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  margin-top: 20px;
}
.loginInformBoxCompany[data-v-6edc221f] {
  font-style: italic;
}
.loginTextSeparator[data-v-6edc221f] {
  border: 1px solid #777;
  margin: 20px;
  width: 40px;
}
.loginCompanyName[data-v-6edc221f] {
  color: var(--higlight-text-color);
  font-weight: bold;
}
.login-system-users[data-v-6edc221f] {
  margin-bottom: 30px;
  font-size: 18px;
}
a[data-v-6edc221f]:visited,
a[data-v-6edc221f] {
  text-decoration: none;
}
.link[data-v-6edc221f] {
  text-align: end;
}
.message[data-v-6edc221f] {
  font-weight: bold;
  padding-bottom: 10px;
}
.login-site-name[data-v-6edc221f] {
  font-size: 70px;
  animation: lights 20s 10s linear infinite;
  font-weight: normal;
  color: var(--higlight-text-color);
  margin-bottom: 20px;
}
.logoImageDiv[data-v-6edc221f] {
  margin-bottom: 20px;
}
.loginMainPage[data-v-6edc221f] {
  overflow: auto;
}
.loginMainPage > div[data-v-6edc221f] {
  min-height: 10px;
}
.DarkModeLogin[data-v-6edc221f] {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Accordion.vue?vue&type=style&index=0&id=65cd1d04&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/

.Accordion {
  gap: 10px;
  /* overflow: hidden; */
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
}
.Accordion > .Panel.notCollapsed {
  /* min-height: 500px; */
  flex: 1 0 auto !important;
}
.Accordion > .Panel.collapsible.collapsed > .Title {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.Accordion > .Panel > .titleBorder {
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.Accordion > .Panel.collapsed > .titleBorder {
  background-color: #fff;
  color: var(--higlight-text-color);
}
.Accordion > .Panel > .Body {
  background-color: #fff;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  /* flex: 1 0 auto; */
  min-height: 400px;
}

/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Mask.vue?vue&type=style&index=0&id=874009b4&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************/

.spin {
  animation: spin 1.2s infinite;
}
.loadmask .icon {
  color: var(--higlight-text-color);
  font-size: 100px;
}
.loadmask {
  background-color: #f1f1f1;
}
.maskfade-leave-active,
.maskfade-enter-active {
  transition: opacity 0.4s ease;
}
.maskfade-enter-from,
.maskfade-leave-to {
  opacity: 0;
}
.maskfade2-leave-active,
.maskfade2-enter-active {
  transition: opacity 0.4s ease;
}
.maskfade2-leave-to {
  opacity: 0;
}
@keyframes spin {
0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
100% {
    transform: rotate(1800deg);
}
}

/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Popup.vue?vue&type=style&index=0&id=9ec76c3c&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/

.PopupMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.PopupBody > .Panel {
  width: 400px;
}
.PopupBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #fff;
}
.stop .PopupBackground,
.maintenance .PopupBackground {
  opacity: 1;
}
.maintenance .titletext,
.maintenance .msqgPre {
  font-size: 24px;
}
.maintenance .maintenanceSpin {
  margin: 10px;
}
.maintenance .maintenanceSpin .icon {
  font-size: 34px;
  color: var(--higlight-text-color);
}
.PopupBody {
  opacity: 1;
  z-index: 2100;
  max-width: 600px;
}
.PopupBody > .border > .Body {
  padding: 5px;
  text-align: center;
}
.PopupBody .titleBorder {
  height: auto;
}
.PopupBody .titletext {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.msqgPre {
  padding: 5px;
}
.PopupMain .PopupBody {
  box-shadow: 0px 0px 4px 4px #ddd;
}
.PopupMain .titleBorder {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--title-background-color);
  color: var(--title-color);
  padding: 15px;
}
.PopupMain.error .PopupBody {
  box-shadow: 0px 0px 8px 2px #a94442;
}
.PopupMain.error .Button,
.PopupMain.error .border,
.PopupMain.error .titleBorder {
  color: #a94442;
  border-color: #ebccd1;
  border-width: 1px;
}
.PopupMain.error .Button,
.PopupMain.error .titleBorder {
  background-color: #f2dede;
}
.PopupMain.error .Button:focus {
  border: 1px solid #ebccd1;
}
.PopupMain.info .PopupBody {
  box-shadow: 0px 0px 8px 2px #3c763d;
}
.PopupMain.info .Button,
.PopupMain.info .border,
.PopupMain.info .titleBorder {
  color: #3c763d;
  border-color: #d6e9c6;
  border-width: 1px;
}
.PopupMain.info .Button,
.PopupMain.info .titleBorder {
  background-color: #dff0d8;
}
.PopupMain.info .Button:focus {
  border: 1px solid #d6e9c6;
}
.PopupMain .Body {
  background-color: #fff;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./HwsVue/components/Msg.vue?vue&type=style&index=0&id=2b8ec492&scoped=true&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

#msg[data-v-2b8ec492] {
  position: absolute;
  z-index: 10000;
  top: 5px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  font-weight: bold;
  min-width: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
#msg.success[data-v-2b8ec492] {
  color: green;
  border-color: green;
}
#msg.error[data-v-2b8ec492] {
  color: #c41717;
  border-color: #c41717;
}
#msg.info[data-v-2b8ec492] {
  color: var(--higlight-text-color);
  border-color: var(--higlight-text-color);
}
.move-in-enter-active[data-v-2b8ec492] {
  animation: move-in-2b8ec492 0.5s;
}
.move-in-leave-active[data-v-2b8ec492] {
  animation: move-in-2b8ec492 0.5s reverse;
}
@keyframes move-in-2b8ec492 {
0% {
    top: -100px;
}
100% {
    top: 5px;
}
}

/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-1.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./src/Main.vue?vue&type=style&index=0&id=3ffae6b2&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************/

.MainTopToolbar {
  /* background-color: #1e5999; */
  padding: 6px;
  position: absolute;
  top: 3px;
  right: 2px;
  border-radius: 4px;
  z-index: 10;
  color: white;
}
.MainTopToolbar .nevjegy-user {
  margin-right: 16px;
}
.collapsedTopPanelIcon {
  height: 51px;
}
.main_wrap {
  padding-top: 10px;
  padding-left: 10px;
}
.vPanel.collapsible.collapsed>.titleBorder {
  flex: 1 1 auto;
}
@keyframes lights {
0% {
    text-shadow: -10px 5px 2px #33333300;
}
5% {
    text-shadow: 0px 5px 2px #333333dd;
}
10% {
    text-shadow: 15px 5px 2px #33333300;
}
}
@keyframes alert-button-effect {
0% {
    box-shadow: 0 0 0 0 var(--higlight-text-color);
}
15% {
    box-shadow: 0 0 2px 5px rgba(254, 57, 5, 0);
}
}
@keyframes ring {
0% {
    transform: rotate(0deg);
}
5% {
    transform: rotate(0deg);
}
15% {
    transform: rotate(0deg);
}
25% {
    transform: rotate(20deg);
}
35% {
    transform: rotate(-15deg);
}
45% {
    transform: rotate(10deg);
}
55% {
    transform: rotate(-5deg);
}
60% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}

